*{
	border: 0;
	box-sizing: border-box;
	margin: 0;
}

body{
	background: none;
	display: block;
}



		/*------section1------*/

.sec1{
	width: 100%;
	height: 200px;
	float: left;

}

.nav{
	background: #cce;
	width: 80%;
	height: 85px;
	text-align: center;
	float: left;
}

.nav ul{
	text-align: center;
	display: inline-flex;
	padding-top: 35px;
	float: left;
}

.nav ul li{
	margin-left: 20px;
	margin-right: 20px;
	font-size: 25px;
	list-style: none;
}


.nav-b{
	background: #cce;
	width: 20%;
	height: 85px;
	text-align: center;
	float: left;
	padding-top: 15px;
}

.srch{
	width: 60%;
	height: 55px;
	float: left;
	background: none;

}

#srch-b{
	width: 60%;
	height: 55px;
	float: left;
	padding: 10px;
	
}

#srch-c{
	width: 40%;
	height: 55px;
	float: left;
	cursor: pointer;

}

.acart{
	width: 20%;
	height: 55px;
	float: left;
	background: #cce;
	padding: 4px;
	
}

.acart:hover{
	background: #555;
	cursor: pointer;
}

.cart{
	width: 20%;
	height: 55px;
	float: left;	
	background: #cce;
	padding: 4px;
	
}

.cart:hover{
	background: #555;
	cursor: pointer;
}



		/*-------section2-------*/

.sec2{
	width: 100%;
	height: auto;
	float: left;

}

.like{
	width: 50px;
	height: 50px;
	border: 1px solid red;
	position: relative;
	top: 50%;
	left: 80%;
	margin: 10px;
	background: linear-gradient(to top, rgba(225,225,225,0.1)50%, rgba(225,225,225,0.1)50% );
	
}

.add{
	width: 50px;
	height: 50px;
	border: 1px solid red;
	position: relative;
	top: 50%;
	left: 80%;
	margin: 10px;
	
}

.b0, .b1, .b2, .b3{
	position: relative;
	width: 24%;
	height: 300px;
	border: 1px solid none;
	display: block;
	float: left;
	margin: 5px;
	border-radius: 8px;
	margin-top: 40px;
}

.b0{
	background-image: url(../assets/q.jpg);
	background-size: cover;
}

.b1{
	background-image: url(../assets/btc.jpg);
	background-size: cover;
}

.b2{
	background-image: url(../assets/wf.jpg);
	background-size: cover;
}

.b3{
	background-image: url(../assets/btc.jpg);
	background-size: cover;
}

.b4{
	background-image: url(../assets/deadpool.jpg);
	background-size: cover;
}

.b5{

}

 .like #like{
	width: 100%;
	height: 100%;
}

.like:hover{
	width: 55px;
	height: 55px;
	transition: 0.5s ease;
} 

.add #add{
	width: 100%;
	height: 100%;
}

.add:hover{
	width: 55px;
	height: 55px;
	transition: 0.5s ease;
} 

 .b4, .b5, .b6, .b7{
	width: 24%;
	height: 300px;
	border: 1px solid none;
	display: block;
	float: left;
	margin: 5px;
	border-radius: 8px;
	margin-top: 40px;
}

.b8, .b9, .ba, .bb {
	width: 24%;
	height: 300px;
	border: 1px solid none;
	display: block;
	float: left;
	margin: 5px;
	border-radius: 8px;
	margin-top: 40px;	
}

.b0, .b4, .b8{
	margin-left: 15px;
}

.b0, .b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9, .ba, .bb{
	position: relative;
	box-shadow: 0 0 9px #555;

}


		/*------section3-----*/

.sec3{
	width: 100%;
	height: auto;
	float: left;
}

.tab1{
	width: 100%;
	height: 300px;
	border: 1px solid red;
	float: left;
	text-align: center;
	margin-top: 80px;	
}

.tab1 h3{
	font-size: 25px;
	font-family: helvetica;
	font-weight: 500;
	background: #e8e8e8;

}

.q1{

	width: 24%;
	height: 250px;
	border: 1px solid none;
	display: block;
	float: left;
	margin: 5px;
	border-radius: 8px;
	margin-top: 5px;
	background: #000;
}

#q1{
	margin-left: 15px;
}


/*--------section4------*/

.sec4{

	width: 100%;
	height: 550px;
	border: 1px solid blue;
	float: left;
	background: linear-gradient(to top, rgba(0,0,0,0.9)50%, rgba(0,0,0,0.9)50%), url(../assets/bg1.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 200px;
}

.p1{
	width: 20.5%;
	height: 500px;
	border: 1px solid green;
	display: inline-flex;
	margin-left: 55px;
	margin-top: -125px;
	box-shadow: 0 0 9px #ccc;


}

.info1{
	width: 100%;
	height: 120px;
	border:1px solid red;
	margin-top: 30px;

}



/*6666666666  77777   uuuuuuu */
